.chat
  = render partial:'shared/sidebar'
  .chat-main
    .top
      .top__edit
        = link_to edit_group_path(@group.id) do
          %p Edit
      .top__name
        = @group.name
      .top__member
        MEMBER:
        - @group.users.each do |user|
          = user.name
    .messages
      = render partial: 'messages/message', collection: @messages
    .bottom
      = form_for [@group, @message] , html: {id: 'ms-form'} do |f|
        = f.submit 'Send', class: 'bottom__send'
        = f.text_field :body, class: 'bottom__text', placeholder: 'type a message'
        = f.label :image, class: 'bottom__image' do
          = fa_icon 'picture-o', class: 'bottom__image-icon'
          = f.file_field :image, class: 'hidden'
