= render partial:'messages/header'

.chat
  .chat_main
    .chat_main_top
      .chat_main_top_groupedit
        = link_to 'http://google.co.jp' do
          %p Edit
      .chat_main_top_groupname
        %p グループの名前を表示
      .chat_main_top_groupmember
        %p MEMBER:グループメンバーの名前を表示
    .chat_main_message
      .chat_main_message_top_marjin
      = render partial:'messages/message'
    .chat_main_bottom
      .chat_main_bottom_send
        = link_to 'http://google.co.jp' do
          %p Send
      .chat_main_bottom_text
        %textarea{:placeholder => "type a message"}
        .chat_main_bottom_imageicon
          = link_to 'http://google.co.jp' do
            %i.fa.fa-image
  = render partial:'messages/sidebar'
