%div{:class => "header"}
  %h1 メッセージ投稿完了しました

%div{:class => "chat"}
  %div{:class => "chat_main"}
    %div{:class => "chat_main_top"}
      %div{:class => "chat_main_top_groupedit"}
        = link_to 'http://google.co.jp' do
          %p Edit
      %div{:class => "chat_main_top_groupname"}
        %p グループの名前を表示
      %div{:class => "chat_main_top_groupmember"}
        %p MEMBER:グループメンバーの名前を表示
    %div{:class => "chat_main_message"}
      %div{:class => "chat_main_message_top_marjin"}
      = render partial:'messages/message'
    %div{:class => "chat_main_bottom"}
      %div{:class => "chat_main_bottom_send"}
        = link_to 'http://google.co.jp' do
          %p Send
      %div{:class => "chat_main_bottom_text"}
        %textarea{:placeholder => "type a message"}
        %div{:class => "chat_main_bottom_imageicon"}
          = link_to 'http://google.co.jp' do
            %i.fa.fa-image
  = render partial:'messages/sidebar'
